body {
    font-family: 'VW Head', sans-serif;
    margin: 20px;
}

#calendar {
    display: flex;
    flex-wrap: wrap;
}

.month {
    width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

